.add__product__container form.add__product .inputs__group__head .icon, .add__product__container form.update__product .inputs__group__head .icon,
.update__product__container form.add__product .inputs__group__head .icon,
.update__product__container form.update__product .inputs__group__head .icon, .add__product__container .form__header .icon,
.update__product__container .form__header .icon {
  color: #e67e22;
  background-color: #ffffff;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

.add__product__container,
.update__product__container {
  position: relative;
  padding: 2rem 3rem;
  margin: 0 2rem;
}
.add__product__container .btn__back,
.update__product__container .btn__back {
  position: relative;
  top: -3rem;
  right: 45%;
}
.add__product__container .btn__back a,
.update__product__container .btn__back a {
  color: #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
  margin: 1rem;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.add__product__container .btn__back a:hover,
.update__product__container .btn__back a:hover {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  color: #e67e22;
}
.add__product__container .form__header,
.update__product__container .form__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5rem;
}
.add__product__container .form__header .text h2,
.update__product__container .form__header .text h2 {
  font-size: 1rem;
  font-weight: 900;
  color: #ecf0f1;
}
.add__product__container .form__header .text span,
.update__product__container .form__header .text span {
  color: #e67e22;
  font-weight: 600;
  font-size: 0.7rem;
}
.add__product__container form.add__product, .add__product__container form.update__product,
.update__product__container form.add__product,
.update__product__container form.update__product {
  padding: 1rem;
  background-color: #ecf0f1;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.add__product__container form.add__product .inputs__group__head, .add__product__container form.update__product .inputs__group__head,
.update__product__container form.add__product .inputs__group__head,
.update__product__container form.update__product .inputs__group__head {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  gap: 1rem;
}
.add__product__container form.add__product .inputs__group__head .text h3, .add__product__container form.update__product .inputs__group__head .text h3,
.update__product__container form.add__product .inputs__group__head .text h3,
.update__product__container form.update__product .inputs__group__head .text h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #34495e;
}
.add__product__container form.add__product .inputs__group__head .text strong, .add__product__container form.update__product .inputs__group__head .text strong,
.update__product__container form.add__product .inputs__group__head .text strong,
.update__product__container form.update__product .inputs__group__head .text strong {
  color: #e67e22;
}
.add__product__container form.add__product .input__group, .add__product__container form.update__product .input__group,
.update__product__container form.add__product .input__group,
.update__product__container form.update__product .input__group {
  margin: 3rem 1.5rem;
}
.add__product__container form.add__product .input__group label, .add__product__container form.update__product .input__group label,
.update__product__container form.add__product .input__group label,
.update__product__container form.update__product .input__group label {
  color: #e67e22;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}
.add__product__container form.add__product .input__group label.label__photo, .add__product__container form.update__product .input__group label.label__photo,
.update__product__container form.add__product .input__group label.label__photo,
.update__product__container form.update__product .input__group label.label__photo {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: #2c3e50;
  font-size: 1rem;
  border: 0.2rem dashed #e67e22;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  width: 100%;
  height: 33vh;
}
.add__product__container form.add__product .input__group label.label__photo svg, .add__product__container form.update__product .input__group label.label__photo svg,
.update__product__container form.add__product .input__group label.label__photo svg,
.update__product__container form.update__product .input__group label.label__photo svg {
  display: block;
  margin: 0.5rem auto;
  font-size: 2rem;
  color: #e67e22;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.add__product__container form.add__product .input__group label.label__photo:hover, .add__product__container form.update__product .input__group label.label__photo:hover,
.update__product__container form.add__product .input__group label.label__photo:hover,
.update__product__container form.update__product .input__group label.label__photo:hover {
  background-color: rgba(230, 126, 34, 0.2901960784);
}
.add__product__container form.add__product .input__group .img__wrapper, .add__product__container form.update__product .input__group .img__wrapper,
.update__product__container form.add__product .input__group .img__wrapper,
.update__product__container form.update__product .input__group .img__wrapper {
  color: #2c3e50;
  font-size: 1rem;
  border: 0.2rem dashed #e67e22;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  width: 70%;
  margin: 0 auto;
  height: 70vh;
  position: relative;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.add__product__container form.add__product .input__group .img__wrapper img, .add__product__container form.update__product .input__group .img__wrapper img,
.update__product__container form.add__product .input__group .img__wrapper img,
.update__product__container form.update__product .input__group .img__wrapper img {
  width: 100%;
  height: 69.5vh;
}
.add__product__container form.add__product .input__group .img__wrapper .remove__img, .add__product__container form.update__product .input__group .img__wrapper .remove__img,
.update__product__container form.add__product .input__group .img__wrapper .remove__img,
.update__product__container form.update__product .input__group .img__wrapper .remove__img {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #cd0000;
  color: #ffffff;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.8;
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.add__product__container form.add__product .input__group .img__wrapper:hover .remove__img, .add__product__container form.update__product .input__group .img__wrapper:hover .remove__img,
.update__product__container form.add__product .input__group .img__wrapper:hover .remove__img,
.update__product__container form.update__product .input__group .img__wrapper:hover .remove__img {
  z-index: 1;
}
.add__product__container form.add__product .input__group .img__wrapper:hover img, .add__product__container form.update__product .input__group .img__wrapper:hover img,
.update__product__container form.add__product .input__group .img__wrapper:hover img,
.update__product__container form.update__product .input__group .img__wrapper:hover img {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}
.add__product__container form.add__product .input__group input,
.add__product__container form.add__product .input__group textarea,
.add__product__container form.add__product .input__group select, .add__product__container form.update__product .input__group input,
.add__product__container form.update__product .input__group textarea,
.add__product__container form.update__product .input__group select,
.update__product__container form.add__product .input__group input,
.update__product__container form.add__product .input__group textarea,
.update__product__container form.add__product .input__group select,
.update__product__container form.update__product .input__group input,
.update__product__container form.update__product .input__group textarea,
.update__product__container form.update__product .input__group select {
  display: block;
  width: 100%;
  color: #34495e;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.add__product__container form.add__product .input__group input:focus,
.add__product__container form.add__product .input__group textarea:focus,
.add__product__container form.add__product .input__group select:focus, .add__product__container form.update__product .input__group input:focus,
.add__product__container form.update__product .input__group textarea:focus,
.add__product__container form.update__product .input__group select:focus,
.update__product__container form.add__product .input__group input:focus,
.update__product__container form.add__product .input__group textarea:focus,
.update__product__container form.add__product .input__group select:focus,
.update__product__container form.update__product .input__group input:focus,
.update__product__container form.update__product .input__group textarea:focus,
.update__product__container form.update__product .input__group select:focus {
  border: 0.1rem solid #e67e22;
}
.add__product__container form.add__product .input__group input[type=file],
.add__product__container form.add__product .input__group textarea[type=file],
.add__product__container form.add__product .input__group select[type=file], .add__product__container form.update__product .input__group input[type=file],
.add__product__container form.update__product .input__group textarea[type=file],
.add__product__container form.update__product .input__group select[type=file],
.update__product__container form.add__product .input__group input[type=file],
.update__product__container form.add__product .input__group textarea[type=file],
.update__product__container form.add__product .input__group select[type=file],
.update__product__container form.update__product .input__group input[type=file],
.update__product__container form.update__product .input__group textarea[type=file],
.update__product__container form.update__product .input__group select[type=file] {
  display: none;
}
.add__product__container form.add__product .input__group input:-moz-placeholder-shown, .add__product__container form.add__product .input__group textarea:-moz-placeholder-shown, .add__product__container form.add__product .input__group select:-moz-placeholder-shown, .add__product__container form.update__product .input__group input:-moz-placeholder-shown, .add__product__container form.update__product .input__group textarea:-moz-placeholder-shown, .add__product__container form.update__product .input__group select:-moz-placeholder-shown, .update__product__container form.add__product .input__group input:-moz-placeholder-shown, .update__product__container form.add__product .input__group textarea:-moz-placeholder-shown, .update__product__container form.add__product .input__group select:-moz-placeholder-shown, .update__product__container form.update__product .input__group input:-moz-placeholder-shown, .update__product__container form.update__product .input__group textarea:-moz-placeholder-shown, .update__product__container form.update__product .input__group select:-moz-placeholder-shown {
  content: attr(placeholder);
  color: #000000;
}
.add__product__container form.add__product .input__group input:placeholder-shown,
.add__product__container form.add__product .input__group textarea:placeholder-shown,
.add__product__container form.add__product .input__group select:placeholder-shown, .add__product__container form.update__product .input__group input:placeholder-shown,
.add__product__container form.update__product .input__group textarea:placeholder-shown,
.add__product__container form.update__product .input__group select:placeholder-shown,
.update__product__container form.add__product .input__group input:placeholder-shown,
.update__product__container form.add__product .input__group textarea:placeholder-shown,
.update__product__container form.add__product .input__group select:placeholder-shown,
.update__product__container form.update__product .input__group input:placeholder-shown,
.update__product__container form.update__product .input__group textarea:placeholder-shown,
.update__product__container form.update__product .input__group select:placeholder-shown {
  content: attr(placeholder);
  color: #000000;
}
.add__product__container form.add__product .input__group strong, .add__product__container form.update__product .input__group strong,
.update__product__container form.add__product .input__group strong,
.update__product__container form.update__product .input__group strong {
  color: #34495e;
}
.add__product__container form.add__product .input__group textarea, .add__product__container form.update__product .input__group textarea,
.update__product__container form.add__product .input__group textarea,
.update__product__container form.update__product .input__group textarea {
  margin-bottom: 0.5rem;
}
.add__product__container form.add__product .input__group .instruction, .add__product__container form.update__product .input__group .instruction,
.update__product__container form.add__product .input__group .instruction,
.update__product__container form.update__product .input__group .instruction {
  display: flex;
  color: #2c3e50;
  justify-content: space-between;
  font-size: 0.7rem;
  font-weight: 500;
}
.add__product__container form.add__product .input__group select, .add__product__container form.update__product .input__group select,
.update__product__container form.add__product .input__group select,
.update__product__container form.update__product .input__group select {
  margin-bottom: 0.5rem;
}
.add__product__container form.add__product .input__group select option, .add__product__container form.update__product .input__group select option,
.update__product__container form.add__product .input__group select option,
.update__product__container form.update__product .input__group select option {
  background-color: #e67e22;
  color: #ffffff;
}
.add__product__container form.add__product .input__group.price__inventory, .add__product__container form.update__product .input__group.price__inventory,
.update__product__container form.add__product .input__group.price__inventory,
.update__product__container form.update__product .input__group.price__inventory {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.add__product__container form.add__product .input__group.price__inventory .price,
.add__product__container form.add__product .input__group.price__inventory .inventory, .add__product__container form.update__product .input__group.price__inventory .price,
.add__product__container form.update__product .input__group.price__inventory .inventory,
.update__product__container form.add__product .input__group.price__inventory .price,
.update__product__container form.add__product .input__group.price__inventory .inventory,
.update__product__container form.update__product .input__group.price__inventory .price,
.update__product__container form.update__product .input__group.price__inventory .inventory {
  flex: 1;
}
.add__product__container form.add__product .input__group.price__inventory .price label,
.add__product__container form.add__product .input__group.price__inventory .inventory label, .add__product__container form.update__product .input__group.price__inventory .price label,
.add__product__container form.update__product .input__group.price__inventory .inventory label,
.update__product__container form.add__product .input__group.price__inventory .price label,
.update__product__container form.add__product .input__group.price__inventory .inventory label,
.update__product__container form.update__product .input__group.price__inventory .price label,
.update__product__container form.update__product .input__group.price__inventory .inventory label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.add__product__container form.add__product .input__group.price__inventory .price input,
.add__product__container form.add__product .input__group.price__inventory .inventory input, .add__product__container form.update__product .input__group.price__inventory .price input,
.add__product__container form.update__product .input__group.price__inventory .inventory input,
.update__product__container form.add__product .input__group.price__inventory .price input,
.update__product__container form.add__product .input__group.price__inventory .inventory input,
.update__product__container form.update__product .input__group.price__inventory .price input,
.update__product__container form.update__product .input__group.price__inventory .inventory input {
  margin-bottom: 0.5rem;
}
@media (max-width: 872px) {
  .add__product__container,
  .update__product__container {
    padding: 0;
    margin: 2rem 0.2rem;
  }
  .add__product__container form.update__product .img__wrapper,
  .update__product__container form.update__product .img__wrapper {
    width: 100% !important;
  }
  .add__product__container .btn__back,
  .update__product__container .btn__back {
    top: -2rem !important;
    right: 0 !important;
  }
}
@media (max-width: 872px) and (max-width: 472px) {
  .add__product__container .price__inventory,
  .update__product__container .price__inventory {
    flex-direction: column;
  }
}