.admin-overview .overview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  place-items: center;
  gap: 1rem;
  margin: 1rem auto;
  padding: 0.5rem;
}
.admin-overview .overview .card-overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 0.8rem;
  margin: 0.8rem;
  box-shadow: 0 0 0.1rem 0 #34495e;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.admin-overview .overview .card-overview .body .title {
  color: #2c3e50;
  font-size: 1rem;
  margin: 0.1rem auto;
  font-weight: 500;
}
.admin-overview .overview .card-overview .body .amount {
  color: #e67e22;
  font-size: 1rem;
  font-weight: 500;
}
.admin-overview .overview .card-overview .body .details .increase {
  color: #4caf50;
  padding-right: 0.5rem;
  font-weight: 700;
}
.admin-overview .overview .card-overview .body .details span {
  color: #34495e;
  font-size: 0.8rem;
}
.admin-overview .overview .card-overview .icon {
  color: #e67e22;
  background-color: rgba(230, 126, 34, 0.2392156863);
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.admin-overview .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 1rem;
}
.admin-overview .content .sales-charts .chart {
  padding: 0.8rem;
  margin: 0.8rem;
  box-shadow: 0 0 0.1rem 0 #34495e;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.admin-overview .content .top-products {
  padding: 0.8rem;
  margin: 0.8rem;
  box-shadow: 0 0 0.1rem 0 #34495e;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.admin-overview .content .top-products h3 {
  font-size: 1rem;
}
.admin-overview .content .top-products .products .product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem auto;
  background-color: #ecf0f1;
  padding: 0.5rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.admin-overview .content .top-products .products .product .info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.admin-overview .content .top-products .products .product .info .icon {
  color: #e67e22;
  background-color: rgba(230, 126, 34, 0.2392156863);
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.admin-overview .content .top-products .products .product .info .name {
  display: block;
  color: #2c3e50;
  font-weight: 600;
  font-size: 1rem;
}
.admin-overview .content .top-products .products .product .info .sales {
  font-weight: 700;
  color: #e67e22;
}
.admin-overview .content .top-products .products .product .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-overview .content .top-products .products .product .details .price {
  color: #f1c40f;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.admin-overview .content .top-products .products .product .details .revenue {
  color: #2c3e50;
  font-weight: 700;
  font-size: 0.8rem;
}
.admin-overview .recent-orders {
  margin: 1rem !important;
  overflow-x: auto;
  margin: 5rem auto;
  color: #ffffff;
  background-color: #ffffff;
}
.admin-overview .recent-orders h2 {
  color: #e67e22;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0.5rem;
}
.admin-overview .recent-orders table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 1rem;
}
.admin-overview .recent-orders table thead tr {
  padding: 1.2rem;
  font-weight: bold;
  border-bottom: 0.2rem solid #34495e;
}
.admin-overview .recent-orders table tbody tr:nth-child(even) {
  background-color: #2c3e50;
}
.admin-overview .recent-orders table tbody tr td {
  padding: 0.6rem;
  border-bottom: 0.2rem solid #34495e;
  font-weight: 800;
}
.admin-overview .recent-orders table tbody tr td.price {
  color: #e67e22;
}
.admin-overview .recent-orders h3 {
  font-size: 1.2rem;
}
.admin-overview .recent-orders table {
  color: #34495e;
}
.admin-overview .recent-orders table tr:nth-child(even) {
  color: #ecf0f1;
}
.admin-overview .recent-orders table tr td {
  border: none !important;
}
.admin-overview .recent-orders table tr td.date {
  color: #1abc9c;
}
.admin-overview .recent-orders table tr td.pending {
  background-color: rgba(230, 126, 34, 0.47);
  color: #e67e22;
}
.admin-overview .recent-orders table tr td.delivered {
  color: #1abc9c;
  background-color: rgba(26, 188, 156, 0.3098039216);
}

.analytics .overview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  place-items: center;
  gap: 1rem;
  margin: 1rem auto;
  padding: 0.5rem;
}
.analytics .overview .card-overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 0.8rem;
  margin: 0.8rem;
  box-shadow: 0 0 0.1rem 0 #34495e;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.analytics .overview .card-overview .body .title {
  color: #2c3e50;
  font-size: 1rem;
  margin: 0.1rem auto;
  font-weight: 500;
}
.analytics .overview .card-overview .body .amount {
  color: #e67e22;
  font-size: 1rem;
  font-weight: 500;
}
.analytics .overview .card-overview .body .details .increase {
  color: #4caf50;
  padding-right: 0.5rem;
  font-weight: 700;
}
.analytics .overview .card-overview .body .details span {
  color: #34495e;
  font-size: 0.8rem;
}
.analytics .overview .card-overview .icon {
  color: #e67e22;
  background-color: rgba(230, 126, 34, 0.2392156863);
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.analytics .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}
.analytics .content .revenue-charts {
  padding: 0.8rem;
  margin: 0.8rem;
  box-shadow: 0 0 0.1rem 0 #34495e;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.analytics .content .sales-charts {
  padding: 0.8rem;
  margin: 0.8rem;
  box-shadow: 0 0 0.1rem 0 #34495e;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.analytics .content .rate-charts {
  padding: 0.8rem;
  margin: 0.8rem;
  box-shadow: 0 0 0.1rem 0 #34495e;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.analytics .content .growth-charts {
  padding: 0.8rem;
  margin: 0.8rem;
  box-shadow: 0 0 0.1rem 0 #34495e;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
@media (max-width: 772px) {
  .analytics .overview {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
  .analytics .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}

.vendors {
  margin: 1rem;
}
.vendors .overview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  place-items: center;
  gap: 1rem;
  margin: 1rem auto;
  padding: 0.5rem;
}
.vendors .overview .card-overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 0.8rem;
  margin: 0.8rem;
  box-shadow: 0 0 0.1rem 0 #34495e;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.vendors .overview .card-overview .body .title {
  color: #2c3e50;
  font-size: 1rem;
  margin: 0.1rem auto;
  font-weight: 500;
}
.vendors .overview .card-overview .body .amount {
  color: #e67e22;
  font-size: 1rem;
  font-weight: 500;
}
.vendors .overview .card-overview .body .details .increase {
  color: #4caf50;
  padding-right: 0.5rem;
  font-weight: 700;
}
.vendors .overview .card-overview .body .details span {
  color: #34495e;
  font-size: 0.8rem;
}
.vendors .overview .card-overview .icon {
  color: #e67e22;
  background-color: rgba(230, 126, 34, 0.2392156863);
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.vendors .vendors-table {
  overflow-x: auto;
  margin: 5rem auto;
  color: #ffffff;
  background-color: #ffffff;
}
.vendors .vendors-table h2 {
  color: #e67e22;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0.5rem;
}
.vendors .vendors-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 1rem;
}
.vendors .vendors-table table thead tr {
  padding: 1.2rem;
  font-weight: bold;
  border-bottom: 0.2rem solid #34495e;
}
.vendors .vendors-table table tbody tr:nth-child(even) {
  background-color: #2c3e50;
}
.vendors .vendors-table table tbody tr td {
  padding: 0.6rem;
  border-bottom: 0.2rem solid #34495e;
  font-weight: 800;
}
.vendors .vendors-table table tbody tr td.price {
  color: #e67e22;
}
.vendors .vendors-table table {
  color: #34495e;
}
.vendors .vendors-table table tr:nth-child(even) {
  color: #ecf0f1;
}
.vendors .vendors-table table tr td {
  border: none !important;
}
.vendors .vendors-table table tr td:first-child, .vendors .vendors-table table tr td:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.vendors .vendors-table table tr td.name .icon {
  color: #e67e22;
  background-color: rgba(230, 126, 34, 0.2392156863);
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  font-size: 2rem;
}
.vendors .vendors-table table tr td.date, .vendors .vendors-table table tr td.orders,
.vendors .vendors-table table tr td .stars {
  color: #e67e22;
}
.vendors .vendors-table table tr td.revenue {
  color: #1abc9c;
}

.products-container {
  margin: 1rem;
}
.products-container .overview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  place-items: center;
  gap: 1rem;
  margin: 1rem auto;
  padding: 0.5rem;
}
.products-container .overview .card-overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 0.8rem;
  margin: 0.8rem;
  box-shadow: 0 0 0.1rem 0 #34495e;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.products-container .overview .card-overview .body .title {
  color: #2c3e50;
  font-size: 1rem;
  margin: 0.1rem auto;
  font-weight: 500;
}
.products-container .overview .card-overview .body .amount {
  color: #e67e22;
  font-size: 1rem;
  font-weight: 500;
}
.products-container .overview .card-overview .body .details .increase {
  color: #4caf50;
  padding-right: 0.5rem;
  font-weight: 700;
}
.products-container .overview .card-overview .body .details span {
  color: #34495e;
  font-size: 0.8rem;
}
.products-container .overview .card-overview .icon {
  color: #e67e22;
  background-color: rgba(230, 126, 34, 0.2392156863);
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.products-container .products-table {
  overflow-x: auto;
  margin: 5rem auto;
  color: #ffffff;
  background-color: #ffffff;
}
.products-container .products-table h2 {
  color: #e67e22;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0.5rem;
}
.products-container .products-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 1rem;
}
.products-container .products-table table thead tr {
  padding: 1.2rem;
  font-weight: bold;
  border-bottom: 0.2rem solid #34495e;
}
.products-container .products-table table tbody tr:nth-child(even) {
  background-color: #2c3e50;
}
.products-container .products-table table tbody tr td {
  padding: 0.6rem;
  border-bottom: 0.2rem solid #34495e;
  font-weight: 800;
}
.products-container .products-table table tbody tr td.price {
  color: #e67e22;
}
.products-container .products-table table {
  color: #34495e;
}
.products-container .products-table table tr:nth-child(even) {
  color: #ecf0f1;
}
.products-container .products-table table tr td {
  border: none !important;
}
.products-container .products-table table tr td:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.products-container .products-table table tr td.name .icon {
  color: #e67e22;
  background-color: rgba(230, 126, 34, 0.2392156863);
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  font-size: 2rem;
}
.products-container .products-table table tr td.stock {
  color: #4caf50;
}
.products-container .products-table table tr td.stock.decreased {
  color: #cd0000;
}
.products-container .products-table table tr td.vendor {
  color: #e67e22;
}

.users-container {
  margin: 1rem;
}
.users-container .overview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  place-items: center;
  gap: 1rem;
  margin: 1rem auto;
  padding: 0.5rem;
}
.users-container .overview .card-overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 0.8rem;
  margin: 0.8rem;
  box-shadow: 0 0 0.1rem 0 #34495e;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.users-container .overview .card-overview .body .title {
  color: #2c3e50;
  font-size: 1rem;
  margin: 0.1rem auto;
  font-weight: 500;
}
.users-container .overview .card-overview .body .amount {
  color: #e67e22;
  font-size: 1rem;
  font-weight: 500;
}
.users-container .overview .card-overview .body .details .increase {
  color: #4caf50;
  padding-right: 0.5rem;
  font-weight: 700;
}
.users-container .overview .card-overview .body .details span {
  color: #34495e;
  font-size: 0.8rem;
}
.users-container .overview .card-overview .icon {
  color: #e67e22;
  background-color: rgba(230, 126, 34, 0.2392156863);
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.users-container .users-table {
  overflow-x: auto;
  margin: 5rem auto;
  color: #ffffff;
  background-color: #ffffff;
}
.users-container .users-table h2 {
  color: #e67e22;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0.5rem;
}
.users-container .users-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 1rem;
}
.users-container .users-table table thead tr {
  padding: 1.2rem;
  font-weight: bold;
  border-bottom: 0.2rem solid #34495e;
}
.users-container .users-table table tbody tr:nth-child(even) {
  background-color: #2c3e50;
}
.users-container .users-table table tbody tr td {
  padding: 0.6rem;
  border-bottom: 0.2rem solid #34495e;
  font-weight: 800;
}
.users-container .users-table table tbody tr td.price {
  color: #e67e22;
}
.users-container .users-table table {
  color: #34495e;
}
.users-container .users-table table tr:nth-child(even) {
  color: #ecf0f1;
}
.users-container .users-table table tr td {
  border: none !important;
}
.users-container .users-table table tr td:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.users-container .users-table table tr td.name .icon {
  color: #e67e22;
  background-color: rgba(230, 126, 34, 0.2392156863);
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  font-size: 2rem;
}
.users-container .users-table table tr td.orders {
  color: #e67e22;
}
.users-container .users-table table tr td.active {
  color: #4caf50;
}
.users-container .users-table table tr td.inactive {
  color: #cd0000;
}

.orders-container {
  margin: 1rem;
}
.orders-container .overview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  place-items: center;
  gap: 1rem;
  margin: 1rem auto;
  padding: 0.5rem;
}
.orders-container .overview .card-overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 0.8rem;
  margin: 0.8rem;
  box-shadow: 0 0 0.1rem 0 #34495e;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.orders-container .overview .card-overview .body .title {
  color: #2c3e50;
  font-size: 1rem;
  margin: 0.1rem auto;
  font-weight: 500;
}
.orders-container .overview .card-overview .body .amount {
  color: #e67e22;
  font-size: 1rem;
  font-weight: 500;
}
.orders-container .overview .card-overview .body .details .increase {
  color: #4caf50;
  padding-right: 0.5rem;
  font-weight: 700;
}
.orders-container .overview .card-overview .body .details span {
  color: #34495e;
  font-size: 0.8rem;
}
.orders-container .overview .card-overview .icon {
  color: #e67e22;
  background-color: rgba(230, 126, 34, 0.2392156863);
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.orders-container .charts-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  justify-content: center;
}
.orders-container .charts-container .orderers-and-revenue,
.orders-container .charts-container .orders-status {
  padding: 0.8rem;
  margin: 0.8rem;
  box-shadow: 0 0 0.1rem 0 #34495e;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.orders-container .orders-table {
  overflow-x: auto;
  margin: 5rem auto;
  color: #ffffff;
  background-color: #ffffff;
}
.orders-container .orders-table h2 {
  color: #e67e22;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0.5rem;
}
.orders-container .orders-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 1rem;
}
.orders-container .orders-table table thead tr {
  padding: 1.2rem;
  font-weight: bold;
  border-bottom: 0.2rem solid #34495e;
}
.orders-container .orders-table table tbody tr:nth-child(even) {
  background-color: #2c3e50;
}
.orders-container .orders-table table tbody tr td {
  padding: 0.6rem;
  border-bottom: 0.2rem solid #34495e;
  font-weight: 800;
}
.orders-container .orders-table table tbody tr td.price {
  color: #e67e22;
}
.orders-container .orders-table table {
  color: #34495e;
}
.orders-container .orders-table table tr:nth-child(even) {
  color: #ecf0f1;
}
.orders-container .orders-table table tr td.date, .orders-container .orders-table table tr td.items {
  color: #e67e22;
}
.orders-container .orders-table table tr td.total {
  color: #1abc9c;
}
.orders-container .orders-table table tr td.status.completed {
  background-color: #dcfce7;
  color: #166b52;
}
.orders-container .orders-table table tr td.status.pending, .orders-container .orders-table table tr td.status.processing {
  background-color: #fffac4;
  color: #a0a170;
}
.orders-container .orders-table table tr td.status.failed {
  background-color: #c7bbbb;
  color: #a61b1b;
}

.filter-popup-container {
  position: absolute;
  width: 100%;
  height: 250vh;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7490196078);
}
.filter-popup-container .content {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ecf0f1;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.filter-popup-container .content .close-popup {
  background-color: #cd0000;
  color: #ffffff;
  position: absolute;
  right: 14px;
  top: 2px;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  line-height: 0.7;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.filter-popup-container .content .popup-name {
  display: block;
  color: #e67e22;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}
.filter-popup-container .content .form-filter-products {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 10rem;
  flex-wrap: wrap;
  justify-content: center;
}
.filter-popup-container .content .form-filter-products select {
  outline: none;
  cursor: pointer;
  background-color: #2c3e50;
  color: #ffffff;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.2rem;
  text-align: left;
}
@media (max-width: 992px) {
  .filter-popup-container .content .form-filter-products {
    gap: 2rem;
  }
}
@media (max-width: 992px) and (max-width: 672px) {
  .filter-popup-container {
    width: 130%;
  }
}
@media (max-width: 992px) and (max-width: 672px) and (max-width: 492px) {
  .filter-popup-container {
    width: 150%;
  }
}

.admin-page-name {
  color: #e67e22;
  font-size: 2rem;
  margin: 1rem;
  font-weight: 500;
}

.admin-section-name {
  color: #e67e22;
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem;
}

.top-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}
.top-element .info {
  display: flex;
  align-items: center;
}
.top-element .info span {
  color: #34495e;
  font-size: 0.7rem;
  font-weight: 400;
}
.top-element .btn-filter {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(135deg, #e67e22, #34495e);
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.top-element .btn-filter:hover {
  background: linear-gradient(135deg, #34495e, #e67e22);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.top-element .btn-filter:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.admin-header {
  padding: 1rem;
  background-color: #202d3b;
}
.admin-header .top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin-header .top-bar .right-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.admin-header .top-bar .right-content .logo {
  color: #e67e22;
  font-weight: 800;
  font-size: 1.2rem;
  text-wrap: balance;
}
.admin-header .top-bar .right-content .search-input {
  position: relative;
}
.admin-header .top-bar .right-content .search-input input {
  background-color: #ecf0f1;
  width: 100%;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.admin-header .top-bar .right-content .search-input button {
  color: #34495e;
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  font-size: 1.4rem;
}
.admin-header .top-bar .left-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.admin-header .top-bar .left-content .admin-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}
.admin-header .top-bar .left-content .admin-link svg {
  color: #e67e22;
}
.admin-header .top-bar .left-content .admin-link span {
  color: #e67e22;
}
@media (max-width: 772px) {
  .admin-header .search-input {
    display: none;
  }
}
@media (max-width: 772px) and (max-width: 472px) {
  .admin-header .top-bar,
  .admin-header .left-content {
    flex-direction: column;
    gap: 1rem 0;
  }
}

.admin-container {
  display: flex;
  margin-top: 0.1rem;
  border-top: 0.1rem solid #ffffff;
}
.admin-container .side-bar {
  flex: 1;
  background-color: #2c3e50;
}
.admin-container .side-bar ul li {
  padding: 0.8rem;
  margin: 0.5rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.admin-container .side-bar ul li.active {
  background-color: #34495e;
}
.admin-container .side-bar ul li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.2rem 1rem;
  color: #ecf0f1;
}
.admin-container .admin-content {
  flex: 5;
  background-color: #ecf0f1;
}