{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie 11"]
        }
      }
    ],
    "next/babel" // Keep Next.js default preset
  ]
}
