.orders-container {
  margin: 1rem;
  // Overview Cards
  .overview {
    @include gridTemplateAdmin(15rem) {
      place-items: center;
      gap: 1rem;
    }
    margin: 1rem auto;
    padding: 0.5rem;
    @include adminCardOverview;
  }
  // Charts Container
  .charts-container {
    margin-top: 5rem;
    @include gridTemplateAdmin(30rem) {
      justify-content: center;
    }
    .orderers-and-revenue,
    .orders-status {
      @include adminSection;
    }
  }

  // Orders Table
  .orders-table {
    @include tableComponent;
    table {
      color: $textColor_1;
      tr {
        &:nth-child(even) {
          color: $neutralColor_1;
        }
        td {
          &.date,
          &.items {
            color: $secondaryColor_2;
          }
          &.items {
          }
          &.total {
            color: $secondaryColor_1;
          }
          &.status {
            &.completed {
              background-color: #dcfce7;
              color: #166b52;
            }
            &.pending,
            &.processing {
              background-color: #fffac4;
              color: #a0a170;
            }
            &.failed {
              background-color: #c7bbbb;
              color: #a61b1b;
            }
          }
        }
      }
    }
  }
}
