.update-profile {
  .update-form {
    input {
      display: block;
      font-size: 0.8rem;
      margin: 1rem 3rem;
      padding: 0.8rem;
      width: 80%;
      @include radios(1rem);
      @include transition(0.3s);
      &:placeholder-shown {
        content: attr(placeholder);
        color: $textColor_2;
      }
      &.input-valid {
        border: 0.2rem solid $secondaryColor_1;
      }

      &.input-invalid {
        border: 0.2rem solid $dangerColor;
      }
    }
    .user-photo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8rem;
      margin: 1rem auto;
      label {
        @include labelImg;
      }
      input[type="file"] {
        display: none;
      }
      select {
        outline: none;
        cursor: pointer;
        background-color: $secondaryColor_2;
        color: $neutralColor_2;
        font-size: 1rem;
        margin-top: 1rem;
      }
    }
    select {
      outline: none;
      cursor: pointer;
      background-color: $secondaryColor_2;
      color: $neutralColor_2;
      font-size: 1rem;
      margin-top: 1rem;
    }
    .send-btn {
      padding: 0.1rem 1rem;
      margin: 3rem auto;
      font-size: 0.8rem;
    }
  }
  .basic-details {
    margin-top: 6rem;
  }
  .secure-details {
    border-top: 0.1rem solid $secondaryColor_2;
  }
  .back-arrow {
    position: absolute;
    top: 0%;
    right: 1.5rem;
    z-index: 99;
  }
  @media (max-width: 776px) {
    .back-arrow {
      left: 0rem !important;
    }
  }
  // Responsive
  @media (max-width: 576px) {
    .basic-details {
      .user-photo {
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
  @media (max-width: 372px) {
    input {
      margin: 0 auto;
    }
  }
}
