@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;

.sign-up,
.login {
  padding: 2rem;
  margin: 1rem;
  .signup-form,
  .login-form {
    width: 50rem;
    margin: 2rem auto;
    padding: 2rem;
    font-size: 0.8rem;
    background: linear-gradient(#212121, #212121) padding-box,
      linear-gradient(
          145deg,
          transparent 35%,
          $secondaryColor_2,
          $secondaryColor_1
        )
        border-box;
    border: 2px solid transparent;
    box-sizing: border-box;
    @include radios(1.2rem);
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
    input {
      margin: 1rem 3rem;
      padding: 0.8rem;
      width: 90%;
      @include radios(1rem);
      @include transition(0.3s);
      &:placeholder-shown {
        content: attr(placeholder);
        color: $textColor_2;
      }
      &.input-valid {
        border: 0.2rem solid $secondaryColor_1;
      }

      &.input-invalid {
        border: 0.2rem solid $dangerColor;
      }
    }
    .user-photo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8rem;
      margin: 1rem auto;
      label {
        @include labelImg;
      }
      input[type="file"] {
        display: none;
      }
      select {
        outline: none;
        cursor: pointer;
        background-color: $primaryColor;
        color: $neutralColor_2;
        font-size: 1rem;
        margin-top: 1rem;
      }
    }
    .send-btn {
      padding: 0.1rem 1rem;
      margin: 3rem auto;
    }
    .account-link {
      text-align: center;
      padding: 1rem;
      margin: 1rem auto;
      color: $neutralColor_2;
      font-style: 1.4rem;
      a {
        padding: 0 0.2rem;
        font-size: 1rem;
        color: $secondaryColor_2;
      }
    }
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
  // Responsive
  @media (max-width: 992px) {
    .signup-form,
    .login-form {
      width: 100%;
    }
  }
  @media (max-width: 667px) {
    .signup-form,
    .login-form {
      input {
        margin: 1rem auto;
      }
    }
  }
  @media (max-width: 572px) {
    .user-photo {
      flex-direction: column;
      gap: 0.5rem !important;
    }
  }
}
