@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;

// Components
@import "../components/admin-overview";
@import "../components/admin-analytics";
@import "../components/admin_vendors";

// Global Class
.admin-page-name {
  color: $secondaryColor_2;
  font-size: 2rem;
  margin: 1rem;
  font-weight: 500;
}

.admin-section-name {
  color: $secondaryColor_2;
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem;
}

.top-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  .info {
    display: flex;
    align-items: center;
    span {
      color: $textColor_1;
      font-size: 0.7rem;
      font-weight: 400;
    }
  }
  .btn-filter {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: $neutralColor_2;
    background: linear-gradient(135deg, $secondaryColor_2, $textColor_1);
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    @include transition(0.3s);
    @include radios(0.5rem);

    &:hover {
      background: linear-gradient(135deg, $textColor_1, $secondaryColor_2);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }
  }
}

// Admin Header
.admin-header {
  padding: 1rem;
  background-color: #202d3b;
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .right-content {
      display: flex;
      align-items: center;
      gap: 1rem;
      .logo {
        color: $secondaryColor_2;
        font-weight: 800;
        font-size: 1.2rem;
        text-wrap: balance;
      }
      .search-input {
        position: relative;
        input {
          background-color: $neutralColor_1;
          width: 100%;
          padding: 0.3rem 1rem;
          font-size: 1rem;
          font-weight: 500;
          @include radios(0.2rem);
        }
        button {
          color: $textColor_1;
          position: absolute;
          right: 0.4rem;
          top: 0.4rem;
          font-size: 1.4rem;
        }
      }
    }
    .left-content {
      display: flex;
      align-items: center;
      gap: 2rem;
      .admin-link {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.2rem;
        svg {
          color: $secondaryColor_2;
        }
        span {
          color: $secondaryColor_2;
        }
      }
    }
  }

  // Responsive
  @media (max-width: 772px) {
    .search-input {
      display: none;
    }
    .top-bar,
    .left-content {
      @media (max-width: 472px) {
        flex-direction: column;
        gap: 1rem 0;
      }
    }
  }
}

// Admin Container
.admin-container {
  display: flex;
  margin-top: 0.1rem;
  border-top: 0.1rem solid $neutralColor_2;
  .side-bar {
    flex: 1;
    background-color: $primaryColor;
    ul {
      li {
        padding: 0.8rem;
        margin: 0.5rem;
        a {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 1rem;
          font-weight: 500;
          padding: 0.2rem 1rem;
          color: $neutralColor_1;
          &.active {
            background-color: $textColor_1;
            @include radios(0.2rem);
            color: $secondaryColor_2;
          }
        }
      }
    }
  }
  .admin-content {
    flex: 5;
    background-color: $neutralColor_1;
  }
}
