@use "../helpers/variables" as *;
.payment-success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $neutralColor_2;
}

.payment-success-content {
  text-align: center;
  background: $neutralColor_2;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.payment-success-icon {
  font-size: 4rem;
  color: $successColor;
}

h1 {
  margin-top: 1rem;
  font-size: 2rem;
  color: $successColor;
}

p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: $primaryColor;
}

.btn {
  display: inline-block;
  margin: 1rem 0.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  color: $neutralColor_2;
  transition: background-color 0.3s;

  &.btn-secondary {
    background-color: $primaryColor;

    &:hover {
      background-color: $textColor_1;
    }
  }
}
