$primaryColor: #2c3e50;
$secondaryColor_1: #1abc9c;
$secondaryColor_2: #e67e22;
$orangeWithDarkColor: #e67e224a;
$neutralColor_1: #ecf0f1;
$neutralColor_2: #ffffff;
$accentColor_1: #f1c40f;
$textColor_1: #34495e;
$textColor_2: #000000;
$dangerColor: #cd0000;
$successColor: #4caf50;
